<template>
  <div>
    <div class="row border-bottom">
      <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <li>
            <span class="m-r-sm text-muted welcome-message">Bem-vindo ao Orthopride Insumos.</span>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
              <i class="fa fa-bell"></i>  <span class="label label-primary"></span>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
              <li>
                <a href="#">
                  <div>
                    <i class="fa fa-envelope fa-fw"></i> Você não tem nova(s) mensagen(s)
                    <span class="pull-right text-muted small"></span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <div class="text-center link-block">
                  <a href="#/mensagens">
                    <strong>Ver todas mensagens</strong>
                    <i class="fa fa-angle-right"></i>
                  </a>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <a @click="logout()">
              <i class="fa fa-sign-out"></i> Sair
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading" style="padding-bottom: 0px;">
      <div style="display: flex;justify-content: space-between;align-items: center;padding: 20px 15px;">
        <div>
          <h2 style="padding:0;margin:0;">{{ $route.meta.title }}</h2>
        </div>

        <div>
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    methods: {
      logout () {
        this.$insumosClinica.remove('user')
        this.$router.replace({name: 'Login'})
      }
    }
  }
</script>
