<template>
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element">
            <span>
              <img alt="image" width="48px" class="img-circle" src="http://orthopride.com.br/site/mobile/assets/images/home/galhasso2.png">
            </span>
              <span class="clear">
                <span class="block m-t-xs">
                  <strong class="font-bold" style="color: #dfe4e8;">{{ usuario.nome }} {{ usuario.sobrenome }}</strong>
                </span>
                <span class="text-muted text-xs block">{{ usuario.clinica }}</span>
              </span>
          </div>
          <div class="logo-element">
            OI
          </div>
        </li>

        <router-link tag="li" active-class="active" to="/home">
          <a>
            <i class="fa fa-home"></i>
            <span class="nav-label">Dashboard</span>
          </a>
        </router-link>

        <router-link tag="li" active-class="active" to="/pedidos">
          <a>
            <i class="fa fa-dollar"></i>
            <span class="nav-label">Pedidos</span>
          </a>
        </router-link>

        <!--
        <router-link tag="li" active-class="active" to="/usuarios">
          <a>
            <i class="fa fa-users"></i>
            <span class="nav-label">Usuários</span>
          </a>
        </router-link>
        -->
      </ul>
    </div>
  </nav>
</template>

<script>
  export default {
    data () {
      return {
        usuario: []
      }
    },
    created () {
      this.usuario = this.$insumosClinica.get('user')
    }
  }
</script>
