body {
  font-family: 'Open Sans';
  background: #ffffff;
}
.main-top-menu {
  /*
    &.show-menu {
        .navbar {
            left: @size-menu-default;
            -moz-transition: all 0.2s ease-in;
            -webkit-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
            
            &:before {
                left: @size-menu-default;
            }
        }
    }
    */
}
.main-top-menu .navbar {
  left: 220px;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.main {
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.main .main-content {
  margin-left: 220px;
  margin-top: 64px;
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 2;
  /*
        &.show-menu {
            margin-left: @size-menu-default - @size-menu-min;
            &:before {
                margin-left: @size-menu-default;
                left: 0;
            }
        }
        */
}
.main .main-content:before {
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f3f3f4;
  top: 61px;
  left: 220px;
  /*
            -webkit-box-shadow: -7px 0px 8px -4px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -7px 0px 8px -4px rgba(0, 0, 0, 0.75);
            box-shadow: -7px 0px 8px -4px rgba(0, 0, 0, 0.75);
            */
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.main .main-content .panel .panel-heading .close {
  font-size: 22px;
  padding: 10px 3px;
}
.main .main-content .panel .panel-heading .dropdown-menu > li > a {
  font-size: 14px;
  color: #444;
  text-align: left;
  cursor: pointer;
}
.main .lateral-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  bottom: 0;
  background: #2f4050;
  overflow: hidden;
  overflow-y: auto;
  /*
        -webkit-box-shadow: inset -7px 0px 8px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: inset -7px 0px 8px -4px rgba(0,0,0,0.75);
        box-shadow: inset -7px 0px 8px -4px rgba(0,0,0,0.75);
        */
  z-index: 1;
}
.main .lateral-menu .metismenu {
  opacity: 1;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.mini-navbar .main-top-menu .navbar {
  left: 70px;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.mini-navbar .main-top-menu .navbar:before {
  left: 70px;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.mini-navbar .main {
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.mini-navbar .main .main-content {
  margin-left: 70px;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.mini-navbar .main .main-content:before {
  margin-left: 70px;
  left: 0;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
