/***** Font Definition for Open Sans. This stylesheet comes from qrohlf.com/posts/better-opensans *****/
/* Regular */
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans/OpenSans-Regular-webfont.eot');
  src: url('/fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/OpenSans/OpenSans-Regular-webfont.woff') format('woff'), url('/fonts/OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'), url('/fonts/OpenSans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-weight: 400;
  font-style: normal;
}
/* Light */
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans/OpenSans-Light-webfont.eot');
  src: url('/fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/OpenSans/OpenSans-Light-webfont.woff') format('woff'), url('/fonts/OpenSans/OpenSans-Light-webfont.ttf') format('truetype'), url('/fonts/OpenSans/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
  font-weight: 200;
  font-style: normal;
}
/* Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans/OpenSans-Semibold-webfont.eot');
  src: url('/fonts/OpenSans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/OpenSans/OpenSans-Semibold-webfont.woff') format('woff'), url('/fonts/OpenSans/OpenSans-Semibold-webfont.ttf') format('truetype'), url('/fonts/OpenSans/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
  font-weight: 500;
  font-style: normal;
}
/* Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans/OpenSans-Bold-webfont.eot');
  src: url('/fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/OpenSans/OpenSans-Bold-webfont.woff') format('woff'), url('/fonts/OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'), url('/fonts/OpenSans/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-weight: 700;
  font-style: normal;
}
