<template>
  <div>
    <div id="page-wrapper" class="gray-bg">
      <app-header></app-header>
      <div class="wrapper wrapper-content">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <!-- pedidos em andamento -->
              <div class="col-lg-12">
                <div class="ibox float-e-margins">
                  <div class="ibox-title">
                    <h5>Pedidos em andamento</h5>
                    <div class="ibox-tools">
                    </div>
                  </div>
                  <div class="ibox-content">
                    <table class="table table-hover no-margins">
                      <thead>
                      <tr>
                        <th>Status</th>
                        <th>Pedido</th>
                        <th>Data</th>
                        <th>Clinica</th>
                        <th>Produtos</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr v-if="pedidos.length === 0">
                        <td>Nenhum pedido cadastrado ainda! :(</td>
                      </tr>
                      <tr v-for="pedido in pedidos" v-bind:key="pedido.id">
                        <td>
                        <span class="label label-primary" v-bind:style="{ background: pedido.clinica_pedido_status.cor }">
                          {{ pedido.clinica_pedido_status.nome }}
                        </span>
                        </td>
                        <td>
                          <router-link tag="a" :to="{ name: 'PedidosInterna', params: { id: pedido.id } }">
                            #{{pedido.id}}
                          </router-link>
                        </td>
                        <td>{{ pedido.created_at | moment("DD/MM/YYYY") }}</td>
                        <td>{{ pedido.clinica.nome }}</td>
                        <td class="text-navy" v-if="pedido.clinica_pedido_produtos.length === 1">
                          {{ pedido.clinica_pedido_produtos.length }} item
                        </td>
                        <td class="text-navy" v-else>
                          {{ pedido.clinica_pedido_produtos.length }} itens
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="ibox float-e-margins">
                  <div class="ibox-title">
                    <h5>Produtos em alerta</h5>
                    <div class="ibox-tools">
                      <button class="btn btn-primary btn-sm" @click="novoPedido()" v-if="exitePedido()">Novo pedido</button>
                      <!--
                      <router-link tag="a" to="/pedidos/novo" v-if="exitePedido()">
                        <a class="btn btn-primary btn-sm">Novo pedido</a>
                      </router-link>
                      -->
                    </div>
                  </div>

                  <div class="ibox-content">
                    <div class="row">
                      <div class="col-lg-12">
                        <table class="table table-hover margin bottom">
                          <thead>
                          <tr>
                            <th style="width: 1%" class="text-center">#</th>
                            <th>Produto</th>
                            <th class="text-center">Quantidade Mínima</th>
                            <th class="text-center">Quantidade</th>
                            <th></th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr v-for="p in produtos" v-bind:key="p.id">
                            <td>
                              <div class="i-checks">
                                <label>
                                  <div class="icheckbox_square-green">
                                    <input type="checkbox" v-model="p.adicionar_pedido">
                                  </div>
                                </label>
                              </div>
                            </td>
                            <td>{{ p.nome }}</td>
                            <td class="text-center">{{ p.quantidade_minima }}</td>
                            <td class="text-center">
                              <span class="label label-primary">{{ p.quantidade }}</span>
                            </td>
                            <td style="width: 3%">
                            <td width="150">
                              <div class="input-group bootstrap-touchspin" v-if="p.adicionar_pedido">
                            <span class="input-group-btn">
                              <button class="btn btn-white bootstrap-touchspin-down" @click="diminuirQuantidade(p)">-</button>
                            </span>
                                <input class="form-control" type="number" v-model="p.nova_quantidade">
                                <span class="input-group-btn">
                              <button class="btn btn-white bootstrap-touchspin-up" @click="aumentarQuantidade(p)">+</button>
                            </span>
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-4">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Mensagens</h5>
                <div class="ibox-tools">
                  <a class="collapse-link"></a>
                </div>
              </div>
              <div class="ibox-content ibox-heading">
                <h3><i class="fa fa-envelope-o"></i>Últimas mensagens...</h3>
                <small><i class="fa fa-tim"></i> </small>
              </div>
              <div class="ibox-content">
                <div class="feed-activity-list">

                  <div class="feed-element">
                    <div>
                      <small class="pull-right text-navy"></small>
                      <strong></strong>
                      <div>Você não tem novas mensagens!</div>
                      <small class="text-muted"></small>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        pedidos: [],
        produtos: [],
        mensagens: []
      }
    },
    mounted () {
      this.carregarPedidos()
      this.carregarProdutos()
      this.carregarMensagens()
    },
    methods: {
      carregarMensagens () {
        this.mensagens = []
      },
      carregarProdutos () {
        this.produtos = [
          {
            id: 1,
            nome: 'ABAIXADOR DE LÍNGUA PALITO',
            marca: 'Theoto',
            unidade: 'Pct com 100 unidades',
            quantidade: 3,
            quantidade_minima: 5,
            preco: 4.60
          },
          {
            id: 2,
            nome: 'ADESIVO ORTODÔNTICO ORTHOCEM (ÁCIDO + RESINA)',
            marca: 'FGM',
            unidade: '1 seringa de 4g e 1 seringa Condac 37% de 2,5g',
            quantidade: 3,
            quantidade_minima: 5,
            preco: 46.80
          },
          {
            id: 3,
            nome: 'ADESIVO TRANSBOND',
            marca: '3M',
            unidade: '1 Seringa c/ 4g',
            quantidade: 7,
            quantidade_minima: 10,
            preco: 143.90
          },
          {
            id: 26,
            nome: 'CERA ORTODÔNTICA  BRANCA',
            marca: 'Morelli',
            unidade: 'Pacote c/ 10',
            quantidade: 2,
            quantidade_minima: 8,
            preco: 11.70
          },
          {
            id: 32,
            nome: 'CLEAN TEST - TESTE BIOLÓGICO PARA AUTOCLAVE 24H',
            marca: 'Maquira',
            unidade: 'Embalagem com 10 unidades.',
            quantidade: 16,
            quantidade_minima: 20,
            preco: 11.70
          }
        ].map((p) => {
          p.nova_quantidade = (p.quantidade_minima - p.quantidade)
          return p
        })
      },
      carregarPedidos () {
        this.pedidos = [
          {
            id: 1,
            clinica_pedido_status: {
              nome: 'Em andamento...',
              cor: '#ddd000'
            },
            created_at: '2018-05-26 00:00:01',
            clinica: {
              nome: 'Clinica Volta Redonda'
            },
            clinica_pedido_produtos: [
              { nome: 'Produto 1' }
            ]
          }
        ]
      },
      aumentarQuantidade (item) {
        item.nova_quantidade++
      },
      diminuirQuantidade (item) {
        item.nova_quantidade = item.nova_quantidade - 1 < 1 ? 0 : item.nova_quantidade - 1
      },
      exitePedido () {
        return this.produtos.filter((p) => {
          return p.adicionar_pedido === true
        }).length
      },
      novoPedido () {
        let produtos = this.produtos.filter((p) => {
          return p.adicionar_pedido
        }).map((p) => {
          return {
            id: p.id,
            quantidade: p.nova_quantidade
          }
        })

        this.$router.push({name: 'PedidosNovoPre', params: { produtos: JSON.stringify(produtos) }})
      }
    }
  }
</script>
