<template>
  <div class="section-login">
    <div class="loader loader-default is-active" data-text="Autenticando..." v-show="loading"></div>
    <div class="middle-box text-center loginscreen animated fadeInDown">
      <div>
        <div>
          <!--<h1 class="logo-name">OP</h1>-->
          <img width="200" src="http://orthopride.com.br/franchising/img/img-why.png"/>
        </div>
        <h3>Bem vindo ao controle de insumos da orthopride</h3>
        <p>Acesse aqui para realizar seus pedidos de produtos para nossa matriz.
          <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
        </p>

        <a href="https://login.microsoftonline.com/common/oauth2/v2.0/authorize?response_type=code&scope=user.read%20openid%20email%20profile&client_id=b4621ce2-6eef-45b4-9c0d-8a2a5a4dd20c&redirect_uri=http://localhost:8081&response_mode=fragment" class="btn btn-primary block full-width m-b">Login</a>

        <p class="m-t"><small>Inspinia we app framework base on Bootstrap 3 &copy; 2018 </small> </p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        loading: false
      }
    },
    mounted () {
      let hash = (this.$route.redirectedFrom).slice(1)

      if (hash) {
        this.loading = true
      }

      this.$http.post(`http://localhost:4445/api/auth/user_clinica/microsoft/callback?${hash}`).then(data => {
        this.$insumosClinica.set('user', data.body, 60 * 60 * 2000)
        this.loading = false
        this.$router.replace({name: 'Home'})
      }, response => {
        console.log(response)
      })
    },
    methods: {
      login () {
      }
    }
  }
</script>
