<template>
  <div>
    <div id="page-wrapper" class="gray-bg">
      <app-header>
        <button @click="concluirPedido()" class="btn btn-w-m btn-primary float-right" :disabled="produtosSelecionados.length === 0">
          <i class="fa fa-check"></i> Enviar pedido
        </button>
      </app-header>
      <div class="wrapper wrapper-content">
        <!-- <modal name="modalProduto" width="70%" height="auto">
          <div class="modal-header">
            <h4 class="modal-title float-left" style="font-size: 26px;">Adicionar produto</h4>
          </div>
          <div class="modal-body">
            <div class="row" style="margin-bottom: 50px;">

              <div class="col-sm-12">
                <div class="alert alert-warning alert-dismissable">
                  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                  Digite o produto que deseja e sugestões começarão a aparecer abaixo...
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label>Nome ou descrição</label>
                  <input type="text" v-model="selection" placeholder="Nome ou descrição do produto" class="form-control" required>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Marca</label>
                  <select class="form-control m-b" name="account">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Fornecedor</label>
                  <select class="form-control m-b" name="account">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-12" v-if="produtosFiltrados.length != 0">
                <table class="table table-hover table-produto-pedido">
                  <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="produto in produtosFiltrados" v-bind:key="produto.id">
                    <td width="500">{{ produto.nome }}</td>
                    <td width="150">
                      <div class="input-group bootstrap-touchspin">
                        <span class="input-group-btn">
                          <button class="btn btn-white bootstrap-touchspin-down" @click="diminuirQuantidade(produto)">-</button>
                        </span>
                        <input class="touchspin1 form-control" type="number" v-model="produto.quantidade">
                        <span class="input-group-btn">
                          <button class="btn btn-white bootstrap-touchspin-up" @click="aumentarQuantidade(produto)">+</button>
                        </span>
                      </div>
                    </td>
                    <td>
                      <button class="btn btn-primary float-right" @click="adicionarProduto(produto)" :disabled="produto.quantidade == 0">Adicionar</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-sm-12" v-if="produtosSelecionados.length != 0">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    Meu carrinho
                  </div>
                  <div class="panel-body">
                    <div id="table-wrapper">
                      <div id="table-scroll">
                        <table class="table table-hover table-produto-pedido">
                      <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr v-for="produto in produtosSelecionados" v-bind:key="produto.id">
                        <td width="500">{{ produto.nome }}</td>
                        <td width="150">
                          <div class="input-group bootstrap-touchspin">
                        <span class="input-group-btn">
                          <button class="btn btn-white bootstrap-touchspin-down" @click="diminuirQuantidade(produto)">-</button>
                        </span>
                            <input class="touchspin1 form-control" type="number" v-model="produto.quantidade">
                            <span class="input-group-btn">
                          <button class="btn btn-white bootstrap-touchspin-up" @click="aumentarQuantidade(produto)">+</button>
                        </span>
                          </div>
                        </td>
                        <td>
                          <button class="btn btn-primary float-right">Remover</button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer" style="width: 100%;position: absolute;bottom: 0;">
            <a @click="fecharModalProduto()" class="btn btn-white">Fechar</a>
          </div>
        </modal> -->

        <div class="row">
          <div class="col-lg-12">
            <!-- <div class="ibox">
              <div class="ibox-title">
                <h5>Resumo</h5>
              </div>
              <div class="ibox-content" style="display: flex;justify-content: space-between;align-items: center;">
                <a @click="abrirModalProduto()" class="btn btn-w-m btn-default">
                  <i class="fa fa-plus"></i> Adicionar produto
                </a>
              </div>
            </div> -->

            <div class="ibox">
              <div class="ibox-title">
                <h5>Meu carrinho</h5>
                <div class="ibox-tools">
                  <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                  </a>
                </div>
              </div>
              <div class="ibox-content">
                <table class="table table-hover table-produto-pedido">
                  <thead>
                  <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Fornecedor</th>
                    <th>Marca</th>
                    <th>Unidade</th>
                    <th>Preço Unitário</th>
                    <th>Preço Total</th>
                    <th>QTD. Desejada</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="produto in produtosSelecionados" v-bind:key="produto.id">
                    <td>{{ produto.codigo }}</td>
                    <td width="500">{{ produto.nome }}</td>
                    <td>{{ produto.fornecedor_id }}</td>
                    <td>{{ produto.marca }}</td>
                    <td>{{ produto.unidade }}</td>
                    <td>{{ produto.precoFormatado }}</td>
                    <td>{{ produto.preco * produto.quantidade | formatarPreco }}</td>
                    <td width="150">
                      <div class="input-group bootstrap-touchspin">
                        <span class="input-group-btn">
                          <button class="btn btn-white bootstrap-touchspin-down" @click="diminuirQuantidade(produto)" :disabled="produto.quantidade === 1">-</button>
                        </span>
                        <input min="1" class="touchspin1 form-control" type="number" v-model="produto.quantidade">
                        <span class="input-group-btn">
                          <button class="btn btn-white bootstrap-touchspin-up" @click="aumentarQuantidade(produto)">+</button>
                        </span>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <div class="row" v-if="produtosSelecionados.length >= 1">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Observações</label>
                      <textarea rows="2" class="form-control" placeholder="Utilize esse campo para fazer alguma observação sobre o pedido...."></textarea>
                    </div>

                    <table class="table invoice-total" v-if="produtosSelecionados.length >= 1">
                      <tbody>
                      <tr>
                        <td><strong>Total:</strong></td>
                        <td>R$ {{ calcularTotal() }}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div v-if="produtosSelecionados.length == 0" style="display: flex;justify-content: center;">
                  Seu carrinho ainda está vazio!
                </div>

              </div>
            </div>

            <div class="ibox">
              <div class="ibox-title">
                <h5>Adicionar produto</h5>
              </div>
              <div class="ibox-content">
                <div class="alert alert-warning alert-dismissable">
                  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                  Digite o produto que deseja e sugestões começarão a aparecer abaixo...
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Nome ou descrição</label>
                      <input type="text" v-model="selection" placeholder="Nome ou descrição do produto" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Marca</label>
                      <select class="form-control m-b" name="account">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Fornecedor</label>
                      <select class="form-control m-b" name="account">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-12" v-if="produtosFiltrados.length != 0">
                    <table class="table table-hover table-produto-pedido">
                      <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Preço Unitário</th>
                        <th>Preço Total</th>
                        <th>Quantidade</th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr v-for="produto in produtosFiltrados" v-bind:key="produto.id">
                        <td width="500">{{ produto.nome }}</td>
                        <td>{{ produto.precoFormatado }}</td>
                        <td>{{ produto.preco * produto.quantidade | formatarPreco }}</td>
                        <td width="150">
                          <div class="input-group bootstrap-touchspin">
                                        <span class="input-group-btn">
                                          <button class="btn btn-white bootstrap-touchspin-down" @click="diminuirQuantidade(produto)" :disabled="produto.quantidade == 0">-</button>
                                        </span>
                            <input min="0" class="touchspin1 form-control" type="number" v-model="produto.quantidade">
                            <span class="input-group-btn">
                                          <button class="btn btn-white bootstrap-touchspin-up" @click="aumentarQuantidade(produto)">+</button>
                                        </span>
                          </div>
                        </td>
                        <td>
                          <button class="btn btn-primary float-right" @click="adicionarProduto(produto)" :disabled="produto.quantidade <= 0">Adicionar</button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { apiResource } from '../../../static/api/api'

  export default {
    data () {
      return {
        selection: '',
        loading: false,
        produtosFiltrados: [],
        produtosSelecionados: [],
        produtos: [],
        valorCompra: 0
      }
    },
    mounted () {
      this.carregarProdutos()
    },
    watch: {
      selection: function (value) {
        if (value.length <= 2) {
          this.produtosFiltrados = []
          return false
        }
        const res = apiResource(this.$resource)
        res.carregarProdutoAutocomplete({string: value}).then(data => {
          if (data.body.code === 200) {
            this.produtosFiltrados = data.body.result.map(item => {
              item.quantidade = 0
              return item
            })
          }
        })
      }
    },
    methods: {
      carregarProdutos () {
        this.loading = true
        const res = apiResource(this.$resource)
        res.carregarProdutos().then(data => {
          this.loading = false
          if (data.body.code === 200) {
            this.produtos = data.body.result.map(item => {
              item.quantidade = 0
              return item
            })
            this.produtos = JSON.parse(JSON.stringify(this.produtos))
            // this.carregarPedido()
          }
        })
      },
      carregarPedido () {
        let produtos = this.$route.params.produtos
        if (produtos === undefined) { return }

        JSON.parse(produtos.toString()).forEach((p) => {
          let _produto = this.produtos.find((plista) => {
            return plista.id === p.id
          })
          if (_produto !== undefined) {
            _produto.quantidade = p.quantidade
          }
        })
      },
      adicionarProduto (produto) {
        let findedProduct = this.produtosSelecionados.find(item => item.id === produto.id)

        if (findedProduct) {
          findedProduct.quantidade = findedProduct.quantidade + produto.quantidade
          return
        }
        this.produtosSelecionados.push(produto)
        this.produtosFiltrados = this.produtosFiltrados.filter(item => item.id !== produto.id)
        this.$toasted.show('Produto adicionado!', {
          theme: 'bubble',
          position: 'bottom-center',
          icon: 'check',
          duration: 2000
        })
      },
      concluirPedido () {
        let reqPedido = {
          clinica_id: this.$insumosClinica.get('user').clinica_id,
          clinica_usuario_id: this.$insumosClinica.get('user').id,
          clinica_pedido_status_id: 1,
          descricao: '',
          produtos: this.produtosSelecionados
        }

        const res = apiResource(this.$resource)
        res.enviarPedido(reqPedido).then(data => {
          if (data.body.code === 200) {
            this.$router.push({ name: 'Pedidos' })
          }
        })
      },
      abrirModalProduto () {
        this.$modal.show('modalProduto')
      },
      fecharModalProduto () {
        this.$modal.hide('modalProduto')
      },
      aumentarQuantidade (item) {
        item.quantidade++
      },
      diminuirQuantidade (item) {
        item.quantidade = item.quantidade - 1 < 1 ? 0 : item.quantidade - 1
      },
      calcularTotal () {
        let precoFinal = 0
        this.produtosSelecionados.forEach(item => {
          precoFinal += item.quantidade * item.preco
        })
        return precoFinal.toFixed(2).replace('.', ',')
      }
    }
  }
</script>

<style scoped>
  #table-wrapper {
    position:relative;
  }
  #table-scroll {
    height:150px;
    overflow:auto;
  }
  #table-wrapper table {
    width:100%;
  }
</style>
