<template>
  <div>
    <div id="page-wrapper" class="gray-bg">
      <app-header>
        <router-link :to="{ name: 'PedidosNovo' }" class="btn btn-w-m btn-primary float-right">
          <i class="fa fa-plus"></i> Novo pedido
        </router-link>
      </app-header>
      <div class="wrapper wrapper-content">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox">
              <div class="ibox-title">
                <h5>Meus pedidos</h5>
              </div>

              <div class="ibox-content">
                <div class="m-b-lg">
                  <div class="input-group">
                    <input type="text" placeholder="Procurar pedido..." class=" form-control">
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-white"> OK</button>
                </span>
                  </div>
                  <div class="m-t-md">
                    <div class="pull-right">
                    </div>
                    <strong v-if="pedidos.length == 1">{{ pedidos.length }} pedido encontrado.</strong>
                    <strong v-else>{{ pedidos.length }} pedidos encontrados.</strong>
                  </div>
                </div>

                <div class="table-responsive">
                  <table class="table table-hover issue-tracker">
                    <thead>
                    <tr>
                      <th>Status</th>
                      <th>ID</th>
                      <th>Itens</th>
                      <th>Valor</th>
                      <th>Data</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="pedidos.length === 0">
                      <td>Nenhum pedido cadastrado ainda! :(</td>
                    </tr>
                    <tr v-for="pedido in pedidos" v-bind:key="pedido.id">
                      <td>
                      <span class="label label-primary" v-bind:style="{ background: pedido.clinica_pedido_status.cor }">
                        {{ pedido.clinica_pedido_status.nome }}
                      </span>
                      </td>
                      <td class="issue-info">
                        <a href="#">Pedido #{{ pedido.id }}</a>
                      </td>
                      <td>{{ pedido.clinica_pedido_produtos.length }}</td>
                      <td>{{ pedido.totalFormatado }}</td>
                      <td>{{ pedido.created_at | moment("DD/MM/YY HH:mm:ss") }}</td>
                      <td class="project-actions">
                        <router-link :to="{ name: 'PedidosInterna', params: { id: pedido.id }}">
                          <a class="btn btn-white btn-sm">
                            <i class="fa fa-eye"></i>
                            <span class="nav-label"> Visualizar </span>
                          </a>
                        </router-link>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { apiResource } from '../../../static/api/api'
  export default {
    data () {
      return {
        loading: false,
        pedidos: []
      }
    },
    mounted () {
      this.carregarPedidos()
    },
    methods: {
      carregarPedidos () {
        this.loading = true
        const res = apiResource(this.$resource)
        console.log('vai req')
        res.carregarPedidos({ clinica_id: this.getAuthUser().clinica_id }).then(data => {
          console.log('fechou req')
          this.loading = false
          if (data.body.code === 200) {
            this.pedidos = data.body.result
            console.log(this.pedidos)
          }
        })
      }
    }
  }
</script>
