<template>
  <div>
    <div id="page-wrapper" class="gray-bg">
      <app-header></app-header>
      <div class="wrapper wrapper-content">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox-content p-xl">
              <div class="row">
                <div class="col-sm-6">
                  <h5>Realizado por:</h5>
                  <address v-if="pedido.clinica">
                    <strong>{{ pedido.clinica_usuario.nome }} {{ pedido.clinica_usuario.sobrenome }}</strong><br>
                    {{ pedido.clinica.nome }}<br>
                    {{ pedido.clinica.logradouro }}, {{ pedido.clinica.numero }}<br>
                    {{ pedido.clinica.bairro }}, {{ pedido.clinica.cidade }} / {{ pedido.clinica.uf }}<br>
                    {{ pedido.clinica.cep }}<br>
                    Telefone: ####
                  </address>
                </div>

                <div class="col-sm-6 text-right">
                  <h4>Pedido <span class="text-navy">#{{ pedido.id }}</span></h4>
                  <p>
                    <span><strong>Criado em:</strong> {{ pedido.created_at | moment("DD/MM/YY HH:mm:ss") }}</span><br>
                    <span><strong>Última atualização em:</strong> {{ pedido.updated_at | moment("DD/MM/YY HH:mm:ss") }}</span>
                  </p>
                </div>
              </div>

              <div class="table-responsive m-t">
                <table class="table invoice-table">
                  <thead>
                  <tr>
                    <th>Lista de produtos</th>
                    <th>Valor un.</th>
                    <th>Quantidade</th>
                    <th>Valor total</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="produto in pedido.clinica_pedido_produtos" v-bind:key="produto.id">
                    <td>
                      <div><strong>{{ produto.nome }}</strong></div>
                      <small>{{ produto.unidade }}</small>
                    </td>
                    <td>{{ produto.precoFormatado }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td>{{ produto.precoTotalFormatado }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <table class="table invoice-total">
                <tbody>
                <tr>
                  <td><strong>Total:</strong></td>
                  <td>{{ pedido.totalFormatado }}</td>
                </tr>
                </tbody>
              </table>

              <div class="well m-t"><strong>Descrição</strong><br>
                {{ pedido.descricao }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { apiResource } from '../../../static/api/api'
  export default {
    data () {
      return {
        pedido: [{
          clinica: {}
        }]
      }
    },
    mounted () {
      this.carregarPedido()
    },
    methods: {
      carregarPedido () {
        const res = apiResource(this.$resource)
        res.carregarUmPedido({id: this.$route.params.id}).then(data => {
          if (data.body.code === 200) {
            this.pedido = data.body.result
            console.log(this.pedido)
          }
        })
      }
    }
  }
</script>
