/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.float-right {
  float: right!important;
}

.float-left {
  float: left!important;
}

@media (min-width: 768px) {
  .navbar-static-side {
    z-index: 99!important;
    position: absolute;
    width: 220px;
  }
}

.navbar-fixed-top, .navbar-static-top {
  z-index: 1!important;
}

body.modal-open {
  padding-right: 0 !important;
}

.pace-done {
  padding-right: 0 !important;
}

.modal-vue-overlay {
  background-color: rgba(0, 0, 0, 0.71)!important;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #FF5F1C;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.breadcrumb>li+li:before {
  padding: 0 0px 0 5px;
  color: #ccc;
  content: "/\00a0";
}
