<template>
  <div id="app">
    <app-login v-if="this.$route.path == '/'"></app-login>
    <div v-if="$route.path != '/'">
      <div id="wrapper">
        <app-sidebar></app-sidebar>
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  //@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
  @import '../node_modules/cxlt-vue2-toastr/dist/css/cxlt-vue2-toastr.css';
  @import '../static/scss/style';
  @import '../node_modules/pure-css-loader/dist/css-loader.css';
</style>
